URxvt.depth: 32
!URxvt.background: [92]#000000
URxvt.background: rgba:0000/0000/0200/c800

URxvt.foreground: #28fe14
URxvt.cursorColor: #28fe14

URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.cursorUnderline: false

URxvt.internalBorder: 10

URxvt.font: xft:Dejavu Sans Mono:size=16
